.menu-container#app {
  margin: 0 10%;
  color: #2D2F30;
}
.menu-container#app h1 {
  font-size: 100px;
  margin: 0;
}
.menu-container#app .choices-and-admin {
  margin-top: 20px;
  border: 1px solid #2D2F30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu-container#app .choices-and-admin .choices {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
.menu-container#app .choices-and-admin .choices .type,
.menu-container#app .choices-and-admin .choices .category,
.menu-container#app .choices-and-admin .choices .all {
  margin: 0 20px;
}
.menu-container#app .choices-and-admin .choices .type,
.menu-container#app .choices-and-admin .choices .category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.menu-container#app .choices-and-admin .choices .type *,
.menu-container#app .choices-and-admin .choices .category * {
  margin: 0;
}
.menu-container#app .choices-and-admin .choices .type .arrow,
.menu-container#app .choices-and-admin .choices .category .arrow {
  color: #FC3833;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-left: 3px;
}
.menu-container#app .choices-and-admin .choices .type .type-menu,
.menu-container#app .choices-and-admin .choices .type .category-menu,
.menu-container#app .choices-and-admin .choices .category .type-menu,
.menu-container#app .choices-and-admin .choices .category .category-menu {
  position: absolute;
  top: 40px;
  background-color: white;
  border: 1px solid #2D2F30;
  z-index: 50;
}
.menu-container#app .choices-and-admin .choices .type .type-menu .choice,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.menu-container#app .choices-and-admin .choices .type .type-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .type .type-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice .full-circle {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-sizing: border-box;
  margin-right: 10px;
}
.menu-container#app .choices-and-admin .choices .type .type-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice .empty-circle,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice .empty-circle {
  border: 1px solid #FC3833;
}
.menu-container#app .choices-and-admin .choices .type .type-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice .full-circle,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice .full-circle {
  background-color: #FC3833;
}
.menu-container#app .choices-and-admin .choices .type .type-menu .choice p,
.menu-container#app .choices-and-admin .choices .type .category-menu .choice p,
.menu-container#app .choices-and-admin .choices .category .type-menu .choice p,
.menu-container#app .choices-and-admin .choices .category .category-menu .choice p {
  font-size: 19px;
  box-sizing: border-box;
}
.menu-container#app .choices-and-admin .choices .type .type-menu,
.menu-container#app .choices-and-admin .choices .category .type-menu {
  width: 162.8px;
}
.menu-container#app .choices-and-admin .choices .type .category-menu,
.menu-container#app .choices-and-admin .choices .category .category-menu {
  width: 129.89px;
}
.menu-container#app .choices-and-admin .admin {
  font-size: 22px;
}
.menu-container#app .choices-and-admin .admin a {
  margin-left: 30px;
}

@media screen and (max-width: 1153px) {
  .menu-container .choices-and-admin {
    flex-direction: column;
  }
  .menu-container .choices-and-admin .admin {
    margin-top: 10px;
  }
}
@media screen and (max-width: 641px) {
  .menu-container .choices-and-admin .choices {
    font-size: 28px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 16px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu {
    width: 151.69px;
  }
  .menu-container .choices-and-admin .choices .category .category-menu {
    width: 120.97px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu .choice .empty-circle,
.menu-container .choices-and-admin .choices .type .type-menu .choice .full-circle,
.menu-container .choices-and-admin .choices .category .category-menu .choice .empty-circle,
.menu-container .choices-and-admin .choices .category .category-menu .choice .full-circle {
    width: 12.5px;
    height: 12.5px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu .choice p,
.menu-container .choices-and-admin .choices .category .category-menu .choice p {
    font-size: 18px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 21px;
  }
}
@media screen and (max-width: 612px) {
  .menu-container .choices-and-admin .choices {
    font-size: 26px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 14px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu {
    width: 140.58px;
  }
  .menu-container .choices-and-admin .choices .category .category-menu {
    width: 112.06px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu .choice .empty-circle,
.menu-container .choices-and-admin .choices .type .type-menu .choice .full-circle,
.menu-container .choices-and-admin .choices .category .category-menu .choice .empty-circle,
.menu-container .choices-and-admin .choices .category .category-menu .choice .full-circle {
    width: 10px;
    height: 10px;
  }
  .menu-container .choices-and-admin .choices .type .type-menu .choice p,
.menu-container .choices-and-admin .choices .category .category-menu .choice p {
    font-size: 16px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 20px;
  }
}
@media screen and (max-width: 585px) {
  .menu-container .choices-and-admin .choices {
    font-size: 24px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 12px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 19px;
  }
}
@media screen and (max-width: 551px) {
  .menu-container .choices-and-admin .choices {
    font-size: 23px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 11px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 18px;
  }
}
@media screen and (max-width: 536px) {
  .menu-container .choices-and-admin .choices {
    font-size: 22px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 10px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 17px;
  }
}
@media screen and (max-width: 521px) {
  .menu-container .choices-and-admin .choices {
    font-size: 21px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 10px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 17px;
  }
}
@media screen and (max-width: 507px) {
  .menu-container .choices-and-admin .choices {
    font-size: 20px;
  }
  .menu-container .choices-and-admin .choices .type .arrow,
.menu-container .choices-and-admin .choices .category .arrow {
    font-size: 10px;
  }
  .menu-container .choices-and-admin .admin {
    font-size: 17px;
  }
}/*# sourceMappingURL=choices_menu.css.map */