.form-title
{
    color: #2D2F30;
    padding: 140px 0 40px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: normal;
}

#app
{
    margin: 0;
}

.form-section
{
    background-color: cornflowerblue;
    width: 70%;
    height: 600px;
    border-radius: 10px;
    margin: 0 auto 50px auto;
    background-color: #F7F1F1;
    display: flex;
    position: relative;

    .form
    {
        width: 40%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: relative;
        color: #2D2F30;
        
        form
        {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .input-infos
            {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }

        .area textarea
        {
            height: 250px;
        }

        .submit
        {
            margin-top: 75px;
            background-color: white;
            border: 2px solid #FC3833;
            color: #2D2F30;
            border-radius: 5px;
            width: 50%;
            height: 50px;
            box-sizing: border-box;
            font-size: 25px;
        }

        .submit.modify-meal
        {
            margin-top: 35px;
        }

        .submit:hover
        {
            background-color: #2D2F30;
            border: 2px solid #2D2F30;
            color: white;
        }

        .add-link,
        .modify-link
        {
            position: absolute;
            bottom: 30px;

            a
            {
                color: #FC3833;
                text-decoration: none;
            }
        }

        .add-link:hover,
        .modify-link:hover
        {
            a
            {
                text-decoration: underline;
            }
        }

        .add-link.active,
        .modify-link.active
        {
            a
            {
                color: #2D2F30;
                text-decoration: underline;
            }
        }

        .add-link
        {
            left: 52%;
        }
    
        .modify-link
        {
            left: 33%;
        }
    }

    .image
    {
        background-image: url("../../images/filets_de_poulet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 60%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .retour
    {
        position: absolute;
        bottom: 30px;
        left: 30px;

        a img
        {
            width: 20px;
            height: 20px;
        }

        a img:hover
        {
            width: 22px;
            height: 22px;
        }
    }
}

.input
{
    display: flex;
    flex-direction: column-reverse; // necessary to use the selector "input:focus + span"
    align-items: flex-start;
    width: 100%;

    span
    {
        font-size: 25px;
        margin: 20px 0 5px 0;
        color: #2D2F30;
        display: flex;
        justify-content: flex-start;
    }

    input,
    select
    {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #2D2F30;
        padding: 3px;
        width: 100%;
        height: 30px;
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: italic;
        font-size: 17px;
    }

    input:focus,
    select:focus
    {
        border: 0px;
        border-bottom: 1px solid #FC3833;
        outline: none;
    }

    input:focus + span,
    select:focus + span
    {
        color: #FC3833;
    }

    .file,
    .file:focus
    {
        // to make the file input invisible, but still in the html
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label
    {
        margin-top: 5px;
        color: #2D2F30;
        font-family: linotype-didot, serif;
        font-weight: lighter;
        font-style: italic;
        text-decoration: underline #2D2F30;
    }

    label:hover
    {
        text-decoration: underline #FC3833;
    }
}

.modify
{
    overflow: auto;
    height: 510px;
    padding-top: 10px;

    .category-form
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 75px;
    
        .modify-category
        {
            width: 75%;
            display: flex;
            height: 100%;;

            .input-infos
            {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 100%;;

                .input
                {
                    width: 60%;
                }

                .submit
                {
                    width: 37.75px;
                    height: 37.75px;
                    margin-top: 0;
                    padding: 0;
                }
            }
        }

        .delete
        {
            width: 37.75px;
            height: 37.75px;

            .input-infos
            {
                width: 37.75px;
                height: 37.75px;
                margin-top: 0;
                padding: 0;

                .submit
                {
                    width: 100%;
                    height: 100%;
                    margin-top: 0;
                }
            }
        }
    }
}

.selects
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .input
    {
        width: 45%;

        span
        {
            font-size: 17px;
        }
    }

    .input:focus
    {
        color: #2D2F30;
    }
}

#modify-category-of-meal
{
    form
    {
        .selects
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .input
            {
                width: 100%;
                align-items: center;

                span
                {
                    margin: 38px 0 25px 0;
                    font-size: 25px;
                    width: 75%;
                    display: flex;
                    justify-content: center;
                }

                select
                {
                    width: 50%;
                }
            }
        }

        .submit
        {
            margin: 25px 0 50px 0;
        }
    }

    hr
    {
        width: 75%;
    }

    .infos
    {
        padding-top: 25px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        p
        {
            width: 75%;
            font-size: 30px;
            margin: 0;
            padding: 0 0 0 12.5%;
            display: flex;
        }
    
        .delete
        {
            width: 25%;
            height: 80%;
            margin: 0;
            display: flex;
            justify-content: flex-start;
    
            .input-infos
            {
                width: 100%;
                height: 100%;
    
                input
                {
                    margin: 0;
                }
            }
        }
    }
}