.form-title {
  color: #2D2F30;
  padding: 140px 0 40px 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: normal;
}

#app {
  margin: 0;
}

.form-section {
  background-color: cornflowerblue;
  width: 70%;
  height: 600px;
  border-radius: 10px;
  margin: 0 auto 50px auto;
  background-color: #F7F1F1;
  display: flex;
  position: relative;
}
.form-section .form {
  width: 40%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.form-section .form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-section .form form .input-infos {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-section .form .submit {
  margin-top: 75px;
  background-color: white;
  border: 2px solid #FC3833;
  color: #2D2F30;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  font-size: 25px;
}
.form-section .form .submit:hover {
  background-color: #2D2F30;
  border: 2px solid #2D2F30;
  color: white;
}
.form-section .form .add-link,
.form-section .form .modify-link {
  position: absolute;
  bottom: 30px;
}
.form-section .form .add-link a,
.form-section .form .modify-link a {
  color: #FC3833;
  text-decoration: none;
}
.form-section .form .add-link:hover a,
.form-section .form .modify-link:hover a {
  text-decoration: underline;
}
.form-section .form .add-link.active a,
.form-section .form .modify-link.active a {
  color: #2D2F30;
  text-decoration: underline;
}
.form-section .form .add-link {
  left: 52%;
}
.form-section .form .modify-link {
  left: 33%;
}
.form-section .image {
  background-image: url("../../images/filets_de_poulet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 60%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-section .retour {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.form-section .retour a img {
  width: 20px;
  height: 20px;
}
.form-section .retour a img:hover {
  width: 22px;
  height: 22px;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
}
.input span {
  font-size: 25px;
  margin: 20px 0 5px 0;
  color: #2D2F30;
  display: flex;
  justify-content: flex-start;
}
.input input,
.input select {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #2D2F30;
  padding: 3px;
  width: 100%;
  height: 30px;
  font-family: linotype-didot, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17px;
}
.input input:focus,
.input select:focus {
  border: 0px;
  border-bottom: 1px solid #FC3833;
  outline: none;
}
.input input:focus + span,
.input select:focus + span {
  color: #FC3833;
}
.input .file,
.input .file:focus {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input label {
  margin-top: 5px;
  color: #2D2F30;
  font-family: linotype-didot, serif;
  font-weight: lighter;
  font-style: italic;
}

.modify {
  overflow: auto;
  height: 510px;
  padding-top: 10px;
}
.modify .category-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 75px;
}
.modify .category-form .modify-category {
  width: 75%;
  display: flex;
  height: 100%;
}
.modify .category-form .modify-category .input-infos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modify .category-form .modify-category .input-infos .input {
  width: 60%;
}
.modify .category-form .modify-category .input-infos .submit {
  width: 37.75px;
  height: 37.75px;
  margin-top: 0;
  padding: 0;
}
.modify .category-form .delete {
  width: 37.75px;
  height: 37.75px;
}
.modify .category-form .delete .input-infos {
  width: 37.75px;
  height: 37.75px;
  margin-top: 0;
  padding: 0;
}
.modify .category-form .delete .input-infos .submit {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selects .input {
  width: 45%;
}
.selects .input span {
  font-size: 17px;
}
.selects .input:focus {
  color: #2D2F30;
}/*# sourceMappingURL=form.css.map */